.btn{border:none;width:100%;height:2.5rem;line-height:2.5rem;font-size:0.8rem;
  border-radius:6px;
  background: #fff;}

.btn-default{border:1px solid #ddd;}
.btn-primary{color: #fff;
    background-color: #108ee9;
    border: 1px solid #108ee9;}


.btn-warning{color: #fff;
    background-color: #ff4949;
    border: 1px solid #ff4949;}

.btn-is-plain{background:none;color:#000;}

/*禁用的类放到最底部*/
.btn-is-plain.btn-disabled,.btn-warning.btn-disabled,.btn-primary.btn-disabled,.btn-default.btn-disabled{color: #bbb;
        background-color: #ddd;
        border: 0;}
