/*全局通用样式*/
a{text-decoration: none;color:#000;}
body,ul,li,p,h1,h2,h3,h4,h5{margin:0;padding:0;}
body{ font-weight: normal;font-family:"Helvetica Neue", Helvetica, STHeiTi, 'Microsoft Yahei',sans-serif;
 -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
  outline: none;background:#fff;}

html, body {
  -webkit-tap-highlight-color: transparent;
}
/*公共样式*/
.con-hide{display: none;}
.con-show{display: block;}
.home-more{font-size:0.6rem;height:1.6rem;line-height:1.6rem;
  display: block;margin:1rem auto;width:40%;color: #616161;border-radius:14px;border: 1px solid #aaa;}
/*左侧隐藏菜单样式*/
  .my-drawer {
    position: relative;
    overflow: auto;
  }
  .my-drawer .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
  }
  .my-drawer .am-drawer-sidebar .am-list {
    width: 6rem;
    padding: 0;
  }
.app-nav-link{display: block;}
