
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before { content: "\e600"; }

.icon-caidan01:before { content: "\e606"; }

.icon-sousuo:before { content: "\e651"; }

.icon-xiangshangjiantou:before { content: "\e65d"; }

.icon-xiangxiajiantou:before { content: "\e65e"; }

.icon-xiangyoujiantou:before { content: "\e65f"; }

.icon-xiangzuojiantou:before { content: "\e660"; }

.icon-tong:before { content: "\e60b"; }

.icon-kexuanzuo:before { content: "\e72b"; }
