.news-wrap{width:94%;margin:0 auto;display: -webkit-flex;border-bottom:1px solid #f6f6f6; padding:10px 0;}
.news-img{-webkit-flex:1;}
.news-con{-webkit-flex:3;padding:0 10px;}
.news-right{-webkit-flex:1;}
.news-con h4{font-weight: normal;font-size:0.8rem;}
.time-bar{color:#999;font-size:0.6rem;margin-top:0.4rem;}
.news-wrap2{width:96%;margin:0 auto;border-bottom:1px solid #f6f6f6; padding:10px 0;}
.news-con2 h4{font-weight: normal;font-size:0.8rem;}
.news-img2 .img-wrap{display:block;width:100%;margin-top:6px;}
.news-img2 img{width:33.3%;}

button.movie-more-btn{width:3rem;font-size:0.7rem;height:1.5rem;line-height:1.5rem;border:1px solid #d43d3d;color:#d43d3d;}
